body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #a13678;
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-height: 60px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 2rem;
    text-align-last: center;
}

section {
    margin-bottom: 2rem;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
}

.product-item {
    border: 1px solid #ddd;
    padding: 1rem;
    text-align: center;
}

.product-item img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: rgb(112, 75, 6);
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    width: 100%;
}

.account-container {
    display: flex;
}

.sidebar {
    width: 25%;
    border-right: 1px solid #ddd;
    padding: 1rem;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin-bottom: 0.5rem;
}

.sidebar ul li a {
    color: #7a1450;
    text-decoration: none;
}

.content {
    width: 75%;
    padding: 1rem;
}